body {
    font-family: 'M PLUS 1p', sans-serif;
    overflow-x:hidden; 
    color: black;
    font-weight: 500;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}
/* ============  forms ==================== */

section {
  background-image: url('/img/login_signup.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.scnd_form {
    outline: 0;
    border-width: 0 0 1px;
    border-color: #4DE897
  }
.comp {
    color: red;
  }
.submit-btn {
    background: #4DE897;
}
.field-icon {
  float: right;
  margin-top: -50px;
  position: relative;
  z-index: 2;
}


/*================== MEDIA QUERIES =================*/
/* login, signup */

@media(max-width: 767px) {
  section {
    background-image: unset;
  }
}