body {
    font-family: 'M PLUS 1p', sans-serif;
    
    overflow-x:hidden; 
    color: black;
    font-weight: 500;
    line-height: 2;
}
html{
  scroll-behavior: smooth;
}




/* ================== Tracks section =========================== */

.track-button {
    background-color: #2E673D;
    color: WHITE;
    padding: .4rem 1.7rem;
    font-size: 1.2rem;
}
.space {
    margin-top: 5rem;
    padding: 2rem;
}


@media(max-width: 767px) {
    .track-button {
        margin-bottom: 2rem;
    }
}