<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Welcome to Edubridge Academy Work Simulation Program.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500,700,800,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="icon" href="img/edu_logo_black.png" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/navbar_footer.css">

        <title>Edubridge Academy</title>
    </head>
    <body>  


    
<!-- ====================== footer section ===================== -->

<footer class="text-dark">

    <div class="container">
        <div class="row">

            <div class="col-lg-3">
            <h5 class="mb-4"><a href="index.html"><img src="img/edu_logo_black.png" alt="" width="50%"></a></h5>
            
            <ul class="list-unstyled text-small">
                <li>18 Bakare Dawodu Street,</li>
                <li>Ifako Gbagada, Lagos.</li>
                <li><a class="text-dark" href="#">hello@edubridgeacademy.com</a></li>
                <li><a class="text-dark" href="tel: +234 802 809 8270">+234 815 121 3474</a></li>
                <li><a class="text-dark" href="tel: +234 802 809 8270">+234 7045707035</a></li>
            </ul>
            </div>
            <div class="col-lg-9">
                <div class="row offset-1">
                <div class="col-lg-2">
                    <h5 class="text-success mb-4">Students</h5>
                    <ul class="list-unstyled text-small">
                        <!-- <li><a class="text-dark" href="#">Who's hiring</a></li> -->
                        <!-- <li><a class="text-dark" href="#">Career tips</a></li> -->
                        <!-- <li><a class="text-dark" href="#">Companies</a></li> -->
                        <!-- <li><a class="text-dark" href="#">Job roles</a></li> -->
                        <li><a class="text-dark" href="{% url 'certificate' %}"> Certificate</a></li>
                    </ul>
                    </div>
                    <div class="col-lg-2">
                    <h5 class="text-success mb-4">Employers</h5>
                    <ul class="list-unstyled text-small">
                        <!-- <li><a class="text-dark" href="#">Customers</a></li> -->
                        <li><a class="text-dark" href="#">Ambassadors</a></li>
                        <li><a class="text-dark" href="{% url 'hire_a_grad' %}">Hire a grad</a></li>
                        <!-- <li><a class="text-dark" href="#">Help center</a></li> -->
                    </ul>
                    </div>
                    <div class="col-lg-3">
                    <h5 class="text-success mb-4">Courses</h5>
                    <ul class="list-unstyled text-small">

                        <li><a class="text-dark" href="{% url 'courses' %}">Experienced Hire</a></li>
                        <li><a class="text-dark" href="{% url 'courses' %}">Graduate program</a></li>
                        <li><a class="text-dark" href="{% url 'courses' %}">Undergraduate program</a></li>
                        <li><a class="text-dark" href="{% url 'courses' %}">Power BI</a></li>

                    </ul>
                    </div>
                    <div class="col-lg-2">
                    <h5 class="text-success mb-4">Universities</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-dark" href="#">Ambassadors</a></li>
                        <!-- <li><a class="text-dark" href="#">Recruitment challenge</a></li> -->
                        <!-- <li><a class="text-dark" href="#">Resources</a></li> -->
                        <li><a class="text-dark" href="http://blog.edubridgeacademy.com">Blog</a></li>
                        <!-- <li><a class="text-dark" href="#">Help center</a></li> -->
                        </ul>
                    </div>
                    <div class="col-lg-3 pr-0">
                    <h5 class="text-success mb-4">About Us</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-dark" href="{% url 'faq' %}">FAQs</a></li>
                        <li><a class="text-dark" href="{% url 'contact' %}">Contact Us</a></li>
                        <!-- <li><a class="text-dark" href="#">Press</a></li> -->
                        <li><a class="text-dark" href="http://blog.edubridgeacademy.com">Blog</a></li>
                        <!-- <li><a class="text-dark" href="#">Brand guidelines</a></li> -->
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </div>
    <br>

    <div class="container">
        <hr>
        <br>
    </div>

    <section>
        <div class="container">
        <div class="row" style="margin-top: 50px;">

            <div class="col-lg-8">
            <p>
                Copyright: EduBridge 2016 - 2020. All rights reserved Privacy & Terms
            </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2">
            <a href="http://facebook.com/edubridgeacademy" target="blank"><i class="fab fa-facebook text-dark"></i></a>&nbsp;
            <a href="http://twitter.com/edubridge_ng" target="blank"><i class="fab  fa-twitter text-dark"></i></a>&nbsp;
            <a href="http://instagram.com/edubridgeacademy" target="blank"><i class="fab fa-instagram text-dark"></i></a>&nbsp;
            <a href="https://ng.linkedin.com/in/edubridge-academy-89994297" target="blank"><i
                class="fab fa-linkedin text-dark"></i></a>

            </div>

        </div>
        </div>
    </section>
</footer>
   

    <script src="js/jquery.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/first.js"></script>

</body>
</html>