<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome - Work Simulation Programme </title>

    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    
    <link rel="stylesheet" href="css/navbar_footer.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
        <a href="tracks.html">tracks</a>

<br> <br>
    <!-- ============= what is WSP section ========================== -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h3 class="colored-text headers">What is Work <br> Simulation Programme</h3>
                </div>
                <div class="col-lg-7">
                    <p>The human community and individual people are more likely to hurt or undernourish children they think of as “bodies” to be used. Cultures and people need to stand up for them since they are in such an economic dilemna especially as this text is a sample and I can still remember how bad the world is marginalized.
                    </p>
                </div>
            </div>
            <br> <br>

            <div class="row">
                <div class="container">
                    <div class="row" data-aos="zoom-in" data-aos-duration="800">
                
                        <!-- track 1 -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-0 shadow round">
                                <img class="icons-1" src="img/social_icon.svg" alt="" height="90"
                                width="90" />
                                <div class="card-body text-left">
                                <h4 class="card-title mb-0 colored-text">Intern Social</h4>
                                <div class="mt-3 text-left"><p>The Found not the handwriting of the wizard of hoz as he prepares his concoction.
                                </p></div>
                                </div>
                            </div>
                        </div>
                        <!-- track 2 -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-0 shadow round">
                                    <img class="icons-1" src="img/connect_icon.svg" alt="" height="90" width="90" />
                                <div class="card-body text-left">
                                <h4 class="card-title mb-0 colored-text">Intern Connect</h4>
                                <div class="mt-3 text-left"><p>Found not the handwriting of the wizard of hoz as he prepares his concoction.
                                </p>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- track 3 -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-0 shadow round">
                                <img class="icons-1" src="img/jobs_icon.svg" alt="" height="90"
                                width="90" />
                                <div class="card-body text-left">
                                <h4 class="card-title mb-0 colored-text">Intern Jobs</h4>
                                <div class="mt-3 text-left"><p>Found not the handwriting of the wizard of hoz as he prepares his concoction
                                </p>
                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.row -->
            </div>
        </div>
    </section>
    <br> <br> <br>



    <!-- ======== sweet words section ================== -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img src="img/sweetwordpix.svg" alt="" width="100%" />
                </div>
                <div class="col-lg-5 ml-5 ssw-m">
                    <br> <br>
                    <h3 class="colored-text headers">How will this improve <br> my skills & experience
                    </h3>
                    <p>The human community and individual people are more likely to hurt or undernourish children they think of as “bodies” to be used. Cultures and people need to stand up for them since they are in such an economic dilemna especially as this text is a sample and I can still remember how bad the world is marginalized.
                    </p>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>


    <!-- =================== second sweet word section ==================== -->

    <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-1"> </div>
                    <div class="col-lg-5">
                        <h3 class="colored-text headers ssw-m">Who can join & what <br> should I expect
                        </h3>
                        <p>The human community and individual people are more likely to hurt or undernourish children they think of as “bodies” to be used. Cultures and people need to stand up for them since they are in such an economic dilemna especially as this text is a sample and I can still remember how bad the world is marginalized. The haphazardness of the school system had made plenty to go ball after school as you can see in how I am writing thus which is devoid of attention to details and actual intellectual jaw-jaw or convocation.
                        </p>
                    </div>
                    <div class="col-lg-6 ssw-mt">
                        <img  src="img/secondsweetword.svg" alt="" width="100%" />
                    </div>
                </div>
            </div>
        </section>

<br> <br> <br>
        <!-- ========third  sweet words section ================== -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <img src="img/thirdsweetword.png" width="100%" alt=""/>
                </div>
                <div class="col-lg-5 ml-5">
                    <br> <br>
                    <h3 class="colored-text headers">I don’t see my interested <br> career. What do I do?
                    </h3>
                    <p>The human community and individual people are more likely to hurt or undernourish children they think of as “bodies” to be used. Cultures and people need to stand up for them since they are in such an economic dilemna especially as this text is a sample and I can still remember how bad the world is marginalized. The haphazardness of the school system had made plenty to go ball after school as you can see in how I am writing thus.
                    </p>
                    <button class="mybtn ">Sign up</button>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </section>


    <footer class="text-dark">

        <div class="container">
            <div class="row">
    
    
                <div class="col-lg-3">
                <h5 class="mb-4"><a href="{% url 'index' %}"><img src="{% static 'img/edu_logo_black.png' %}" alt="" width="50%"></a></h5>
                
                <ul class="list-unstyled text-small">
                    <li>18 Bakare Dawodu Street,</li>
                    <li>Ifako Gbagada, Lagos.</li>
                    <li><a class="text-dark" href="#">hello@edubridgeacademy.com</a></li>
                    <li><a class="text-dark" href="tel: +234 802 809 8270">+234 815 121 3474</a></li>
                    <li><a class="text-dark" href="tel: +234 802 809 8270">+234 7045707035</a></li>
                </ul>
                </div>
                <div class="col-lg-9">
                    <div class="row offset-1">
                    <div class="col-lg-2">
                        <h5 class="text-success mb-4">Students</h5>
                        <ul class="list-unstyled text-small">
                            <!-- <li><a class="text-dark" href="#">Who's hiring</a></li> -->
                            <!-- <li><a class="text-dark" href="#">Career tips</a></li> -->
                            <!-- <li><a class="text-dark" href="#">Companies</a></li> -->
                            <!-- <li><a class="text-dark" href="#">Job roles</a></li> -->
                            <li><a class="text-dark" href="{% url 'certificate' %}"> Certificate</a></li>
                        </ul>
                        </div>
                        <div class="col-lg-2">
                        <h5 class="text-success mb-4">Employers</h5>
                        <ul class="list-unstyled text-small">
                            <!-- <li><a class="text-dark" href="#">Customers</a></li> -->
                            <li><a class="text-dark" href="#">Ambassadors</a></li>
                            <li><a class="text-dark" href="{% url 'hire_a_grad' %}">Hire a grad</a></li>
                            <!-- <li><a class="text-dark" href="#">Help center</a></li> -->
                        </ul>
                        </div>
                        <div class="col-lg-3">
                        <h5 class="text-success mb-4">Courses</h5>
                        <ul class="list-unstyled text-small">
    
                            <li><a class="text-dark" href="{% url 'courses' %}">Experienced Hire</a></li>
                            <li><a class="text-dark" href="{% url 'courses' %}">Graduate program</a></li>
                            <li><a class="text-dark" href="{% url 'courses' %}">Undergraduate program</a></li>
                            <li><a class="text-dark" href="{% url 'courses' %}">Power BI</a></li>
    
                        </ul>
                        </div>
                        <div class="col-lg-2">
                        <h5 class="text-success mb-4">Universities</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-dark" href="#">Ambassadors</a></li>
                            <!-- <li><a class="text-dark" href="#">Recruitment challenge</a></li> -->
                            <!-- <li><a class="text-dark" href="#">Resources</a></li> -->
                            <li><a class="text-dark" href="http://blog.edubridgeacademy.com">Blog</a></li>
                            <!-- <li><a class="text-dark" href="#">Help center</a></li> -->
                            </ul>
                        </div>
                        <div class="col-lg-3 pr-0">
                        <h5 class="text-success mb-4">About Us</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-dark" href="{% url 'faq' %}">FAQs</a></li>
                            <li><a class="text-dark" href="{% url 'contact' %}">Contact Us</a></li>
                            <!-- <li><a class="text-dark" href="#">Press</a></li> -->
                            <li><a class="text-dark" href="http://blog.edubridgeacademy.com">Blog</a></li>
                            <!-- <li><a class="text-dark" href="#">Brand guidelines</a></li> -->
                            </ul>
                        </div>
                    </div>
    
                </div>
            </div>
    
    
            </div>
        </div>
        <br>
    
        <div class="container">
            <hr>
            <br>
        </div>
    
    
        <section>
            <div class="container">
            <div class="row" style="margin-top: 50px;">
    
                <div class="col-lg-8">
                <p>
                    Copyright: EduBridge 2016 - 2020. All rights reserved Privacy & Terms
                </p>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-2">
                <a href="http://facebook.com/edubridgeacademy" target="blank"><i class="fab fa-facebook text-dark"></i></a>&nbsp;
                <a href="http://twitter.com/edubridge_ng" target="blank"><i class="fab  fa-twitter text-dark"></i></a>&nbsp;
                <a href="http://instagram.com/edubridgeacademy" target="blank"><i class="fab fa-instagram text-dark"></i></a>&nbsp;
                <a href="https://ng.linkedin.com/in/edubridge-academy-89994297" target="blank"><i
                    class="fab fa-linkedin text-dark"></i></a>
    
    
                </div>
    
            </div>
            </div>
        </section>
    
    
    </footer>
    <!-- <img src="img/footer.svg" width="100%" alt=""> -->
    


    <script src="js/jquery.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>